/*---------------------------------------------------------------------------------
   Common Styles
---------------------------------------------------------------------------------*/

body{
    width: 100%;
    background: #e6e6e6 url(../images/background.png) repeat-y;
    color: #262626;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    
}

h1{
    color: #262626;
    font-size: 3em;
    font-weight: bold;
    padding: 0px 0px 20px;
    margin-bottom: 20px;
}



h2{
    color: #21a1ad;
    font-size: 2em;
    font-weight: bold;
    padding: 15px 0px;
}


h3{
    color: #fc9b0e;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 0px;
}

h4{
    color: #79b9d7;
    font-size: .8em;
    font-weight: bold;
    padding-bottom: 2px;
}

p{
    margin: 0px 10px 10px;
    line-height: 1.3em;
}

a{
    text-decoration: none;
    color: inherit;
}




/*---------------------------------------------------------------------------------
   Sidebar Styles
---------------------------------------------------------------------------------*/
.sidebar{
    float: left;
    width: 250px;
    position: fixed;
    height: 100%;
    color: #e6e6e6;
    padding: 20px;
}

.sidebar ul{
    padding: 10px 0px;
}

.sidebar li{
    display: block;
    list-style: none;
    padding: 20px 0px;
    
}

.sidebar h2{
    color: #25b5c2;
}

.active {
    background: url(../images/pointer.png) no-repeat;
    width: 230px;
}

.sidebar p{
    margin: 0px;
    font-size: 1.1em;
}

/*---------------------------------------------------------------------------------
   Content Area Styles
---------------------------------------------------------------------------------*/

.middle{
    padding-left: 250px;
}

.content{
    padding: 20px 30px;
    width: 87%;
    min-width: 500px;
    position: relative;
}

.header{
    margin: auto;
    text-align: center;
    min-width: 500px;
    border-bottom: 1px solid #b2b2b2;
    -webkit-box-shadow: 0px 1px 0px 0px white;
    -moz-box-shadow:    0px 1px 0px 0px white;
    box-shadow:         0px 1px 0px 0px white;
}

.bobot{
    position: fixed;
    top: 15px;
    right: 40px;
}

.button{
    background-color: #f0f0f0;
    margin: 0px 10px 10px;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    display: block;
    padding: 5px;
    width: 125px;
    text-align: center;
    color: #989898;
    -webkit-box-shadow: 1px 1px 1px 0px #cacaca;
    -moz-box-shadow:    1px 1px 1px 0px #cacaca;
    box-shadow:         1px 1px 1px 0px #cacaca;
    position: relative;
    left: 83%;
}

.button:hover{
    background-color: #e8e8e8;
    -webkit-box-shadow: -1px -1px 0px 0px #f8f8f8;
    -moz-box-shadow:    -1px -1px 0px 0px #f8f8f8;
    box-shadow:         -1px -1px 0px 0px #f8f8f8;
}

.underline{
    border-bottom: 1px solid #b2b2b2;
    -webkit-box-shadow: 0px 1px 0px 0px white;
    -moz-box-shadow:    0px 1px 0px 0px white;
    box-shadow:         0px 1px 0px 0px white;
    padding: 10px 10px 15px 10px;
    margin-bottom: 10px;
    
}

.subsection{
    font-style: italic;
}

/*---------------------------------------------------------------------------------
   Video/Image Styles
---------------------------------------------------------------------------------*/
iframe{
    display: block;
    margin: 0 auto 10px;
    border: 3px solid #262626;
    -webkit-box-shadow: 2px 2px 3px 0px #666;
    -moz-box-shadow:    2px 2px 3px 0px #666;
    box-shadow:         2px 2px 3px 0px #666;
}

.intro-image{
    display: block;
    margin: 0 auto 10px;
    border: 5px solid #fff;
    -webkit-box-shadow: 2px 2px 3px 0px #666;
    -moz-box-shadow:    2px 2px 3px 0px #666;
    box-shadow:         2px 2px 3px 0px #666;
}

.caption{
    display: block;
    float: right;
    font-size: .5em;
    text-align: center;
    width: 350px;
}

.about-us{
    position: relative;
    overflow: hidden;
}
